{% extends "base.html" %}
{% load static %}


{% block content %}
    <h2 style="font-weight: bold; color: white; margin-left: 37%">
        Телефоны для справок:
        <h3 style="margin-left: 41%">8(029)-xxx-xx-xx (МТS)</h3>
        <h3 style="margin-left: 41%">8(033)-xxx-xx-xx (Velcom)</h3>
        <h3 style="margin-left: 41%">8(044)-xxx-xx-xx (Life)</h3>
    </h2>
    <h2 style="font-weight: bold; color: white; margin-left: 47%">
        E-mail:
    </h2>
        <h3 style="margin-left: 44%">post@garderob.by</h3>
    <h2 style="font-weight: bold; color: white; margin-left: 44%">
        Адрес склада:
    </h2>
        <h3 style="margin-left: 33%">Республика Беларусь, г. Минск, пр-т Фрунзе, 44</h3>
{% endblock %}