{% extends "base.html" %}
{% load static %}


{% block content %}
    <div style="color: black; padding: 10px 30px; text-indent: 2.5em; align: justify">
        <h4 style="margin-top: 4%">
            Магазин форменной одежды "Garderob.by" - это большой выбор товаров. Представьте себе гардероб, в котором
            собрано более 500000 модных товаров мужской, женской и детской одежды. Вы можете заглянуть в него в любое
            время и заказать с бесплатной доставкой всё, что понравится. Это так просто! Garderob.by — крупнейший в
            Беларуси интернет-магазин одежды, обуви и аксессуаров, в котором представлено свыше 1000 известных марок:
            Nike, Adidas, и многих других. Мы сотрудничаем только с официальными дистрибьюторами и гарантируем
            подлинность всех товаров, представленных на нашем сайте.
        </h4>
        <h4 style="margin-top: 3%">
            Также Garderob.by предлагает бесплатную доставку на всей территории Республики Беларусь. Выбирайте любые
            понравившиеся товары, оформляйте заказ, и мы доставим его в ближайшее время. В городах Минск, Витебск,
            Могилев, Гомель, Гродно и Брест, а также некоторых других крупных областных городах, действует наша
            собственная служба доставки Garderob Express и доставка в Пункты выдачи заказов. Оформив заказ в г. Минске
            до 13:00, вы получите его уже на следующий день в удобный для вас интервал времени. Вы также можете оформить
            заказ в г. Минске до 23:00 с возможностью получить его уже на следующий день с 15:00 (при доставке службой
            Garderob Express) и с 17:00 (при доставке в Пункты выдачи заказов). В Могилеве, Гомеле и Гродно, а также в
            других крупных городах данных областей, при оформлении заказа до 23:00 вы можете получить его через день
            после оформления заказа в удобный для вас интервал времени. В Витебске и Бресте, а также в других крупных
            городах данных областей, оформив заказ до 13:00 доставка осуществляется через день после оформления заказа
            в удобный для вас интервал времени. У вас также будет возможность примерить вещи в течение 15 минут и
            отказаться от тех товаров, которые вам не подошли. В остальных городах доставка осуществляется Почтовыми
            операторами в течение нескольких дней.
        </h4>
        <h4 style="margin-top: 3%">
            Для удобства клиентов Garderob.by предоставляет возможность оплатить заказ следующими способами:
            предварительная оплата (банковской картой онлайн, ЕРИП), оплата в момент доставки при получении заказа. Вы
            можете выкупить заказ как полностью, так и частично (только при доставке службой доставки Garderob Express
            или в Пункты выдачи заказов), или вовсе отказаться от заказа (при любом способе доставки). Подробнее о
            способах оплаты – в «Публичной оферте». Если вы решили вернуть товар уже после оплаты, ничего страшного.
            Срок возврата товаров на Garderob.by составляет 14 дней почтой и через Пункты выдачи заказов.
        </h4>
    </div>
{% endblock %}